<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals               = "false"
         colors                      = "true"
         processIsolation            = "false"
         stopOnFailure               = "false">
  <coverage>
    <report>
      <text outputFile="php://stdout" showUncoveredFiles="true"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="main">
      <directory suffix="Test.php">.</directory>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
